.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark-mode {
    background-color: #0a0000;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #000;
  }
  

  
  .button {
    padding: 10px;
    border: none;
    background-color: #88abd1;
    color: #fff;
    cursor: pointer;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 100px;
    margin: 0 auto;
}